7G/Grade*
7G/Test*
6G/Grade*
6G/Test*
.idea/
*.iml
*.iws
*.eml
*#
\#*
*~
images/IMG*
out/
Other/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
videos
clubs/Mock-Trial/Rumpelstiltskin/
clubs/Mock-Trial/Not-Mine/
clubs/Game-Club/images
js/studentArrays.js
